html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /*A pagina irá rolar suavemente para o target*/
}

* {
  margin: 0;
  padding: 0;
}

.pai {
  width: 50rem; /* =500px*/
  height: 100vh;
  background: yellow;
  overflow: hidden;
}

.pai > div {
  width: 50%; /*Largura*/
  height: 50rem; /*Altura*/ /*50rem = 500px*/
  background: blue;
}

p {
  font-size: 1.6rem;
}

.color-one {
  background: turquoise;
}
.color-two {
  background: violet;
}
